{% extends "base.html" %}
{% block head_title %}Orders{% endblock %}

{% block content %}
<section  class="clearfix">
    <h2 class="section-headline">Orders</h2>
    <p class="section-description">
        Your order list of our store.
    </p>

    <div class="order">
        <ul>
            {% for order in orders %}
            <li class="item">
                <div>
                    <p>{{ order.ordered_at }}</p>
                </div>
                <div>
                    <ul>
                    {% for item in order.items.all %}
                        <li>{{ item }}</li>    
                    {% endfor %}
                    </ul>                
                </div>
                <div>
                    <p>{{ order.address}}</p>
                </div>
            </li>
            {% empty %}
            <li>
                <p class="no-product">No products yet.</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}