{% extends "base.html" %}
{% block head_title %}Orders{% endblock %}

{% block content %}
<section>
    <h2 class="section-headline">Orders</h2>
    <p class="section-description">
        Your order list of our store.
    </p>
    <ul class="order-ul">
    {% for order in orders %}
        <li class="order-ul-li">
            <p class="order-items">Date:{{ order.ordered_at }}</p>
            <p class="order-items">Items: </p> 
            <ul class="inner-order-ul">
            {% for item in order.items.all %}
                <li>{{ item }}</li>    
            {% endfor %}
            </ul>
            <p class="order-items">Address: {{ order.address}} </p>
        </li>
    {% empty %}
        <li><p class="no-product">No orders yet.</p></li>
    {% endfor %}
    </ul>
</section>
{% endblock %}